* {
  box-sizing: border-box;
}

body {
  
  background-color: rgb(238, 222, 206);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
  

}
color: rgb(56, 56, 56);

.header {
  background-color: #1285af;
  padding: 15px;
  text-align: center;
  font-size: 35px;

  
}

#title {
  text-align: center;
  font-size: 5rem;
  text-shadow: 0.9px 0.9px;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  text-align: center;
  font-size: 2rem;
  
}



a:hover {
  background-color:rgb(160, 172, 179);
}

a:focus {
  background-color:rgb(160, 172, 179);
}

.row {
  position: relative;
  display: flex;
  align-content: center;
  text-align: center;
  
}

.column.middle {
  background-color: rgb(160, 172, 179);
  text-align: left;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  width: 80%;
  height: auto;
  align-self: center;
  



}

#image {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: block;
 
}

#imgage2 {
  
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  border-radius: 10px;

}


#img-caption {
  font-size: 25px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

#img-caption2 {
  font-size: 25px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

#tribute-info {
  text-align: center;
}

.headline {
  
  font-size: 1.5rem;
  position: relative;
  padding-bottom: 0.8rem;
  text-align: center;
    
}

.headline::after {
  position: absolute;
  content: "";
  width: 10%;
  height: 5%;
  background-color: rgb(50, 71, 13);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#footer {
  font-size: 1.5rem;
  background: linear-gradient(0deg, darkolivegreen 35%, rgba(160, 172, 179));
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 15px;
}


#quote {
  
    height: 35vh;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    margin-top: 5px;
    
  
}

#endline {
  text-align: center;
}

li {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  list-style-type: disc;
  display: list-item;
  min-height: 50px;
  line-height: 30px;
  margin: auto;
  
}




@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  
  }

  
}
